body {
    background-color: lightblue;
}

#animal-input {
    border: 1px solid rgb(17, 105, 17);
    margin: 10px 0 10px 0;
    
}

#animalButtons {
    margin-top: 10px;
    color: rgb(17, 105, 17);
    
}

#addAnimal {
    margin: 0 0 0 140px;
    color: rgb(17, 105, 17);
}

label {
    color: rgb(17, 105, 17);
    
}

.topic-button {
    margin-right: 10px;
}